* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(8, 50px);
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.black {
  background: black;
  color: yellow;
}

.white {
  background: white;
}
